html {
  font-size: 100%;
}

/*page d'accueil*/
header img {
  width: 100%;
}

body {
  background-color: #65ccfc;
  overflow-x: hidden;
  margin: 0px;
  text-align: justify;
}

h1 {
  text-align: center;
  width: auto;
}

h2 {
  text-align: center;
}

/*footer*/
#footer {
  text-align: center;
}

.btn {
  margin-right: 100px;
  padding-left: -100%;
}

/*Onglet du menu accueil*/
.menu {
  text-align: center;
  background-color: #2cbcff;
  margin-right: 5%;
  padding-left: -5%;
}

.button1 {
  background-color: #65ccfc;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: black;
  font-weight: bold;
}

.button1:hover {
  background-color: #65ccfc;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: black;
}

.button2 {
  background-color: #2cbcff;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: white;
}

.button2:hover {
  background-color: white;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: white;
  border-style: solid;
  color: #65ccfc;
  font-weight: bold;
}

/*page d'événements*/
.event {
  background-color: #65ccfc;
  overflow-x: hidden;
  text-align: justify;
}

.eventTitle {
  text-align: center;
}

/*Onglet du menu événements*/
.menu {
  text-align: center;
  background-color: #2cbcff;
}

.button4 {
  background-color: #2cbcff;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: white;
}

.button4:hover {
  background-color: white;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: white;
  border-style: solid;
  color: #65ccfc;
  font-weight: bold;
}

.button3 {
  background-color: #65ccfc;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: black;
  font-weight: bold;
}

.button3:hover {
  background-color: #65ccfc;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-color: #65ccfc;
  border-style: solid;
  color: black;
}

/* media queries*/

@media (max-width: 425px) {

  h1,
  h2,
  p {
    font-size: 100%;
  }

  #footer {}
}