/*page d'accueil*/
body {
  background-color: #65ccfc;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  width: 1980px;
  height: 300px;
}

/*footer*/
#footer {
  text-align: center;
}